body {
  margin: 0;
  font-family: "Roboto", "Montserrat", sans-serif;
}

.exercise-header {
  background-color: #00a4bd;
  color: #fff;
  margin: 2rem 0;
  padding: 1rem 0;
  text-align: center;
}

.testimonial-wrapper {
  background-color: #f1f1f1;
  display: flex;
  padding: 3rem 0;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.testimonial-container {
  display: flex;
  padding: 0 2rem;
  position: relative;
}

.testimonial-container::before {
  background-color: #ff7f50;
  position: absolute;
  content: "";
  width: 2px;
  position: absolute;
  top: 1rem;
  bottom: 0.5rem;
  left: 0;
}

.testimonial-content {
  flex: 2 1 80%;
  margin-right: 2rem;
}

.testimonial-content::before,
.testimonial-content::after {
  border-radius: 50%;
  position: absolute;
  left: -1rem;
  top: 0;
  bottom: 0;
  height: 2rem;
  width: 2rem;
}

.testimonial-content::before {
  background: #ff6c02;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: -1rem;
}

.testimonial-content::after {
  color: white;
  content: "\201C";
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
}

.testimonial-author {
  font-size: 11px;
  font-weight: 600;
  position: relative;
}

.testimonial-author::before {
  border-radius: 50%;
  background: #ff6c02;
  content: "";
  position: absolute;
  left: -2.2rem;
  bottom: 2px;
  height: 8px;
  width: 8px;
}

.blue-button {
  background-color: #38acec;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  flex: 1 1 20%;
  align-self: center;
  padding: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
/* exercise 2 */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.filter-container {
  border: 1px solid #cecece;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85%;
}

.genre-filter {
  cursor: pointer;
}

.filter-container > * {
  margin: 1rem 0;
  flex: 0 0 35%;
}

.multi-select {
  width: 200px;
}

.select-box {
  position: relative;
}

.select-box select {
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.over-select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.checkboxes {
  display: none;
  border: 1px solid #dadada;
  position: absolute;
  width: 198px;
  background-color: #fff;
}

.checkboxes label {
  border: 1px solid #cecece;
  cursor: pointer;
  display: block;
  font-weight: 600;
  color: #737373;
  padding: 1rem 0;
}

.checkboxes label:hover {
  background-color: #1e90ff;
}

.select {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f9f9f9;
  border-bottom: 2px solid #595756;
  width: 100%;
  font-weight: bold;
  color: #737373;
  font-size: 17px;
  padding: 0.5rem 1rem;
}

.search-form {
  display: flex;
  align-self: center;
  justify-content: flex-end;
}

.search-input {
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #ccc;
  font-size: 14px;
  min-width: 200px;
  height: 30px;
  width: 15%;
}

.radio-label {
  color: #595756;
  font-weight: 600;
}

.clear-filter {
  background: transparent;
  border: none;
  color: #20a8e6;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 15px;
  text-align: right;
  text-decoration: underline;
  text-transform: uppercase;
}

.media-container {
  border: 1px solid #cecece;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
  text-align: center;
}

.media-card {
  flex: 0 1 29.333333%;
  width: 15%;
  display: block;
  margin: 0.5rem;
  padding: 0.25rem;
  height: auto;
}

.media-image {
  width: 90%;
  object-fit: cover;
  object-position: center;
}

.media-title,
.media-genre {
  color: #4b4b4b;
  font-weight: 700;
  margin: 0.5rem 0;
  text-align: left;
}

.media-genre {
  font-size: 13px;
}

@media only screen and (max-device-width: 1366px) and (orientation: portrait) {
  .testimonial-wrapper {
    width: 85%;
  }
}

@media screen and (max-device-width: 767px), (max-device-height: 375px) {
  .testimonial-wrapper {
    width: 85%;
  }

  .testimonial-text {
    font-size: 11px;
  }

  .testimonial-author {
    font-size: 9px;
  }

  .blue-button {
    font-size: 9px;
  }

  .filter-container {
    align-content: center;
    flex-direction: row;
    width: 75%;
  }

  .clear-filter {
    text-align: left;
  }

  .media-container {
    margin: 0 1rem;
  }
}

@media screen and (max-device-width: 767px) and (orientation: portrait),
  (max-device-height: 375px) and (orientation: portrait) {
  .testimonial-content {
    flex: 2 1 60%;
  }

  .blue-button {
    flex: 1 1 40%;
    padding: 0.75rem;
  }

  .media-card {
    flex: 0 1 50.333333%;
  }
}
