body {
  margin: 0;
  font-family: "Roboto", "Montserrat", sans-serif;
}

.exercise-header {
  padding: 1rem 0;
  margin: 2rem 0;
  text-align: center;
  color: #fff;
  background-color: #00a4bd;
}

.testimonial-wrapper {
  background-color: #f1f1f1;
  display: flex;
  padding: 3rem 0;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.testimonial-container {
  display: flex;
  padding: 0 2rem;
  position: relative;
}

.testimonial-container::before {
  background-color: #ff7f50;
  position: absolute;
  content: "";
  width: 2px;
  position: absolute;
  top: 1rem;
  bottom: 0.5rem;
  left: 0;
}

.testimonial-content {
  flex: 2 1 80%;
  margin-right: 2rem;
}

.testimonial-content::before,
.testimonial-content::after {
  border-radius: 50%;
  position: absolute;
  left: -1rem;
  top: 0;
  bottom: 0;
  height: 2rem;
  width: 2rem;
}

.testimonial-content::before {
  background: #ff6c02;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: -1rem;
}

.testimonial-content::after {
  color: white;
  content: "\201C";
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
}

.testimonial-author {
  font-size: 11px;
  font-weight: 600;
  position: relative;
}

.testimonial-author::before {
  border-radius: 50%;
  background: #ff6c02;
  content: "";
  position: absolute;
  left: -2.2rem;
  bottom: 2px;
  height: 8px;
  width: 8px;
}

.blue-button {
  background-color: #38acec;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  flex: 1 1 20%;
  align-self: center;
  padding: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
/* exercise 2 */
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: flex-end;
}

.form-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
}

/* #searchButton {
  height: 2em;
  width: 6em;
  opacity: 0.8;
  cursor: pointer;
} */

.search-input {
  border: 1px solid #ccc;
  height: 2em;
  width: 15%;
  height: 30px;
  font-size: 14px;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.search-input:focus {
  transition: all 0.5s;
  box-shadow: 0 0 40px #f9d442b9;
  border-color: #f9d342;
  outline: none;
}

.filter-container {
  border: 2px solid red;

  width: 100%;
}

.radio-filter {
  display: flex;
  margin: 0 2rem;
}

.radio-label {
  color: #595756;

  font-weight: 600;
}

.clear-filter {
  justify-content: flex-end;
}

.media-container {
  border: 1px solid #cecece;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center; */
}

.media-card {
  /* border: 2px solid red; */
  flex: 0 0 29.333333%;
  width: 30%;
  display: block;
  margin: 10px;
  padding: 5px;
  height: 580px;
}

.media-image {
  width: 90%;
  object-fit: cover;
  object-position: center;
}

.media-title,
.media-genre {
  color: #4b4b4b;
  font-weight: 700;
  margin: 0.5rem 0;
  text-align: left;
}

.media-genre {
  font-size: 13px;
}

@media only screen and (max-device-width: 1366px) and (orientation: portrait) {
  .testimonial-wrapper {
    width: 85%;
  }
}

@media screen and (max-device-width: 767px), (max-device-height: 375px) {
  .testimonial-wrapper {
    width: 85%;
  }

  .testimonial-text {
    font-size: 11px;
  }

  .testimonial-author {
    font-size: 9px;
  }

  .blue-button {
    font-size: 9px;
  }
}
