<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <script src="../styles/index.css"></script> -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400"
      rel="stylesheet"
    />

    <title>Candidate Exercise</title>
  </head>

  <body>
    <div class="exercise-header">
      <h2>Exercise 1 - Testimonial Block</h2>
    </div>

    <div class="testimonial-wrapper">
      <div class="testimonial-container">
        <div class="testimonial-content">
          <p class="testimonial-text">
            Gingerbread tart cupcake cake muffin cookie liquorice tiramisu.
            Toffee cupcake cake cake croissant icing carrot cake cookie. Dessert
            chocolate bar apple pie sesame snaps liquorice carrot cake cookie
            danish.
          </p>
          <span class="testimonial-author">Indiana Jones, Archaeologist</span>
        </div>
        <a class="blue-button" href="#" target="_blank">Tell Me More</a>
      </div>
    </div>

    <div class="exercise-header">
      <h2>Exercise 2 - Filterable Content</h2>
    </div>

    <div class="wrapper">
      <form class="search-form">
        <input
          class="search-input"
          type="text"
          placeholder="Searcch for Movies+Books"
          id="searchInput"
        />
        <button class="seach-button" id="searchButton">Search</button>
      </form>

      <div class="media-container" id="media-container"></div>
    </div>
  </body>

  <footer>
    <script src="../js/filterable.js"></script>
  </footer>
</html>
