<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400"
      rel="stylesheet"
    />

    <title>Candidate Exercise</title>
  </head>

  <body>
    <div class="exercise-header">
      <h2>Exercise 1 - Testimonial Block</h2>
    </div>

    <div class="testimonial-wrapper">
      <div class="testimonial-container">
        <div class="testimonial-content">
          <p class="testimonial-text">
            Gingerbread tart cupcake cake muffin cookie liquorice tiramisu.
            Toffee cupcake cake cake croissant icing carrot cake cookie. Dessert
            chocolate bar apple pie sesame snaps liquorice carrot cake cookie
            danish.
          </p>
          <span class="testimonial-author">Indiana Jones, Archaeologist</span>
        </div>
        <a class="blue-button" href="#" target="_blank">Tell Me More</a>
      </div>
    </div>

    <div class="exercise-header">
      <h2>Exercise 2 - Filterable Content</h2>
    </div>

    <div class="wrapper">
      <div class="filter-container">
        <form class="genre-filter">
          <div class="multi-select">
            <div class="select-box">
              <select class="genre select">
                <option value="">GENRE</option>
              </select>
              <div class="over-select"></div>
            </div>
            <div class="checkboxes">
              <label for="action">
                <input
                  class="genre-checkbox"
                  type="checkbox"
                  id="action"
                  value="action"
                />Action</label
              >
              <label for="adventure"
                ><input
                  class="genre-checkbox"
                  type="checkbox"
                  id="adventure"
                  value="adventure"
                />Adventure</label
              >
              <label for="crime"
                ><input
                  class="genre-checkbox"
                  type="checkbox"
                  id="crime"
                  value="crime"
                />Crime</label
              >
              <label for="comedy"
                ><input
                  class="genre-checkbox"
                  type="checkbox"
                  id="comedy"
                  value="comedy"
                />Comedy</label
              >
              <label for="fantasy"
                ><input
                  class="genre-checkbox"
                  type="checkbox"
                  id="fantasy"
                  value="fantasy"
                />Fantasy</label
              >
              <label for="horror"
                ><input
                  class="genre-checkbox"
                  type="checkbox"
                  id="horror"
                  value="horror"
                />Horror</label
              >
              <label for="mystery"
                ><input
                  class="genre-checkbox"
                  type="checkbox"
                  id="mystery"
                  value="mystery"
                />Mystery</label
              >
              <label for="sci-fi"
                ><input
                  class="genre-checkbox"
                  type="checkbox"
                  id="sci-fi"
                  value="sci-fi"
                />Sci-fi</label
              >
              <label for="thriller"
                ><input
                  class="genre-checkbox"
                  type="checkbox"
                  id="thriller"
                  value="thriller"
                />Thriller</label
              >
              <label for="western"
                ><input
                  class="genre-checkbox"
                  type="checkbox"
                  id="western"
                  value="western"
                />Western</label
              >
            </div>
          </div>
        </form>
        <!-- TODO - Year Dropdown -->
        <!-- <form class="year-filter">
          <div class="multi-select">
            <div class="select-box">
              <select class="year select">
                <option value="">YEAR</option>
              </select>
              <div class="over-select"></div>
            </div>
            <div class="checkboxes">
              <label for="1870">
                <input type="checkbox" id="1870" value="1870" />1870</label
              >
              <label for="1892"
                ><input type="checkbox" id="1892" value="1892" />1892</label
              >
              <label for="1895"
                ><input type="checkbox" id="1895" value="1895" />1895</label
              >
              <label for="1963"
                ><input type="checkbox" id="1963" value="1963" />1963</label
              >
              <label for="1971"
                ><input type="checkbox" id="1971" value="1971" />1971</label
              >
              <label for="1974"
                ><input type="checkbox" id="1974" value="1974" />1974</label
              >
              <label for="2019"
                ><input type="checkbox" id="2019" value="2019" />2019</label
              >
            </div>
          </div>
        </form> -->

        <form class="search-form">
          <input class="search-input" type="text" id="search-input" />
        </form>

        <form class="radio-filter">
          <input
            class="radio-button"
            type="radio"
            id="movies"
            name="media"
            value="movie"
          />
          <label class="radio-label" for="movies">Movies</label>
          <input
            class="radio-button"
            type="radio"
            id="books"
            name="media"
            value="book"
          />
          <label class="radio-label" for="books">Books</label>
        </form>

        <button class="clear-filter">CLEAR FILTERS</button>
      </div>

      <div class="media-container" id="media-container"></div>
    </div>
  </body>

  <footer>
    <script type="text/javascript" src="../js/filterable.js"></script>
  </footer>
</html>
